<div class="list">
    <p class="tag">洗洗睡</p>
    <h3>洗洗睡|只要天气好，就觉得可以看见千年之前的样子</h3>
    <div class="content1">
        <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
    </div>
    <div class="content2">
        <p>只要天气好，就觉得可以看见千年之前的样子。只要天气好，就觉得可以看见千年之前的样子。只要天气好，就觉得可以看见千年之前的样子。</p>
        <img src="images/post_1.png" alt="">
    </div>
    <div class="content3">
        <ul>
            <li>
                <img src="images/post_1.png" alt="">
            </li>
            <li>
                <img src="images/post_2.png" alt="">
            </li>
            <li>
                <img src="images/post_3.png" alt="">
            </li>
        </ul>
    </div>
</div>